body, main{

    height: 100vh;
   
}
div{
    /* height: 100%; */
}

#button_placeholder {
 width: 100%;
/* background-color: aqua; */
display: flex;
flex-direction: column;
align-items: center;
}
#button_placeholder .savedWeather{
    width: 100%;
    margin-top: 15px;
}

div.forcast{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}

.day {
    color: aliceblue;
    margin-right: 2%;
    /* background-color: rgb(52, 52, 183);*/
   color: black;
     background-color: white;
    /* min-width:  200px; */
    width: 30%;
    height: 225px

}

.day:hover{
    width: 45%;
    /* background-color:rgb(64, 64, 220); */
}

@media screen and (max-width: 800px) {
    div.forcast{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .day {
        display: flex;
        flex-direction: column;
        /* color: aliceblue; */
        color: rgba(250, 235, 215, 0.834);
        margin-right: 2%;
        /* background-color: rgb(52, 52, 183);*/
       color: black;
         background-color: white;
        /* min-width:  200px; */
        width: 50%;
       
        align-self: center;
    }
    .day *{
        align-self: center;
    }
    .day:hover{
        width: 80%;
        /* background-color:rgb(64, 64, 220); */
    }
  }